      @{
    ViewData["Title"] = "Anasayfa";
}
<!--====== Product Style 1 Part Start ======-->

<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 410px;">
            <img class="img-fluid" src="~/assets/images/header-1/purple.jpg"alt="Image">
        </div>
        <div class="carousel-item" style="height: 410px;">
            <img class="img-fluid" src="~/assets/images/header-1/cat-missing-you-a9-1366x768.jpg" alt="Image">
        </div>
    </div>
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>
<!--====== Product Style 1 Part Ends ======-->

<!--====== Product Style 7 Part Start ======-->
<section class="product-wrapper pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-50">
                    <h1 class="heading-1 font-weight-700">Kayıp Dostlarımız</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a data-toggle="modal" data-target="#exampleModalCenter">
                    <div class="card" style="cursor:pointer">
                        <div class="card-img-top" style="height: 20rem">
                            <img class="img-fluid w-100 h-100" style="object-fit: contain;" src="assets/images/header-1/sultanpapagan2.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="mb-2">SARI</h4>
                            <h5 class="mb-2">ANKARA / Altındağ</h5>
                            <span>04.06.2023</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a data-toggle="modal" data-target="#exampleModalCenter">
                    <div class="card" style="cursor:pointer">
                    <div class="card-img-top" style="height: 20rem">
                        <img class="img-fluid w-100 h-100" style="object-fit: contain;" src="assets/images/header-1/dogg.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="mb-2">LÜLE</h4>
                        <h5 class="mb-2">ANKARA / Altındağ</h5>
                        <span>04.06.2023</span>
                    </div>
                    </div>
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-img-top" style="height: 20rem">
                        <img class="img-fluid w-100 h-100" style="object-fit: contain;" src="assets/images/header-1/lokum3.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="mb-2">LOKUM</h4>
                        <h5 class="mb-2">ANKARA / Altındağ</h5>
                        <span>04.06.2023</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-img-top" style="height: 20rem">
                        <img class="img-fluid w-100 h-100" style="object-fit: contain;" src="assets/images/header-1/beagle3.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="mb-2">ZACK</h4>
                        <h5 class="mb-2">ANKARA / Altındağ</h5>
                        <span>04.06.2023</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Product Style 7 Part Ends ======-->
